body
{
    background-color: rgb(182, 166, 166);

}
header
{
    border: solid #0d0d6b 2px;
    background-color: rgb(72, 121, 171);


    
}
h1
{
    background-color: rgb(72, 121, 171);
    text-align: center;
    color: rgb(124, 164, 187);
    font-size:  60px;
    margin: 2px;
}
.bio
{
    font-size: 20px;
    background-color: rgb(182, 166, 166);
}
main{
    border: solid #0d0d6b 2px;
    

}
p
{
    color: rgb(1, 0, 0);
    font-size: 3rem;
    border: 20px;
    display: block;
    /* display: inline-block; */

}

li{
    font-size: 24px;
    margin: 22px;
    
}
footer
{
    text-align: center;

}
.icon
{
    font-size: 100px;
    margin: 4px;
    text-align: center;
    padding: 20px;
}
a:hover
{
    background-color: rgba(122, 22, 107, 0.212);

}
section
{
    background-color: rgb(209, 204, 204);
}