body
{
    
    background-image: url(https://i.pinimg.com/originals/36/ca/39/36ca396e81d5b6a14630aa99cbf4e851.jpg);

}
header
{
    border: solid #0d0d6b 2px;
    background-color: rgba(72, 122, 171, 0);
    border: 4px solid;


    
}
h1
{
    background-color: rgba(72, 122, 171, 0);
    text-align: center;
    color: rgb(124, 164, 187);
    font-size:  60px;
    margin: 5px;
}
.bio
{
    border: 3px solid;
    font-size: 20px;
    
    display: flex;
    position: relative
}
#contactShadow{

    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #0b05055b;



    position: relative;
}

main{
    border: solid #0d0d6b 2px;
    
    

}
img 
{
    
    float:right;
    clear: right;


}
p
{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    border: 20px;
    display: block;
    background-color: rgb(0, 0, 0);
    color: rgba(232, 230, 230, 0.807);
    padding: 25px;
    position: sticky;
    top: 0;
    left: 0;
    margin: 1em 0;
}

li
{
    font-size: 25px;
    margin: 22px;
    color: rgb(254, 254, 254);
    
}
footer
{
    text-align: center;

}
.icon
{
    font-size: 100px;
    margin: 4px;
    text-align: center;
    padding: 20px;
}
a:hover
{
    background-color: rgba(122, 22, 107, 0.212);

}
section
{
    
}